
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
   }
   
   #background{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,248,240,1) 34%);
    width: 100vw;
    height: 100vw;
   }
   
   #title{
       background-repeat: no-repeat;
       display: flex;
       justify-content: center;
       margin-top: 30px;
       -webkit-animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
       animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

   }
   
     .start{
         display: flex;
         justify-content: center;
         margin: auto;
         margin-bottom: 10px;
     }
   
   
    .button {
        margin-top: 50px;
       box-shadow:inset 0px 1px 0px 0px #ffffff;
       background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
       background-color:#daf4f5;
       border-radius:6px;
       border:1px solid #dcdcdc;
       display:inline-block;
       cursor:pointer;
       color:#525252;
       font-family:Arial;
       font-size:15px;
       font-weight:bold;
       padding:10px 24px;
       text-decoration:none;
       text-shadow:0px 1px 0px #ffffff;
   }
   .button:hover {
       background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
       background-color:#f6f6f6;
   }
   .button:active {
       position:relative;
       top:1px;
   }


   @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
  